{%load static%}
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{%static 'main/css/styles.css'%}">
  <title>Про нас - КамінГриль</title>
</head>
{% include 'main/navbar.html' %}

<div class="container">
  <h1 class="text-center my-5">Про нас</h1>
  <div class="lead">
    <p><strong>
      Виконую проєкти по всій Україні та за її межами, гарантуючи високу якість і довговічність кожного каміна чи печі.
      Спеціалізуюся на всіх видах камінів, включаючи дров'яні, відкриті та закриті системи, варочні печі, тандири, коптильні,
      мангали та барбекю-комплекси. Кожен проєкт — це унікальна робота, що поєднує естетику, функціональність та комфорт.
    </p>
    <p>
      Завжди підходжу до роботи індивідуально: аналізую потреби клієнта, особливості приміщення або ландшафту та підбираю оптимальні
      рішення, які відповідають сучасним стандартам якості та дизайну. Використовую лише найкращі матеріали, що забезпечують безпеку
      в експлуатації та довгий термін служби виробу.
    </p>
    <p>
      Пропоную повний комплекс послуг — від консультації та проєктування до монтажу та сервісного обслуговування. Моя мета — створити не лише
      джерело тепла, а й центральний елемент інтер'єру або дворової зони, який даруватиме затишок і радість на довгі роки.
    </p>
    <p>
      Виконую замовлення для приватних будинків, дач, ресторанів, а також для інших бізнес-об’єктів. Незалежно від складності проєкту,
      забезпечую надійність, функціональність та красу кожного виробу. Обираючи мої послуги, ви отримуєте високоякісний продукт, який буде
      служити вам і вашим близьким довгі роки, додаючи особливого тепла та гармонії у ваш простір.
    </p></strong>
  </div>
</div>