{%load static%}
<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{%static 'main/img/logo_site.png'%}">
    <link rel="stylesheet" href="{%static 'main/css/styles.css'%}"> <!-- Підключаємо CSS файл -->


    <title>КамінГриль</title>

    <!-- Bootstrap core CSS -->
    <link href="{%static 'main/css/bootstrap.css'%}" rel="stylesheet">
    <link href="{%static 'main/css/social.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static 'main/css/carousel.css'%}" rel="stylesheet">
  </head>
  <body>
    {% include 'main/navbar.html' %}

    <div>
        <div class="carousel-item active">
          <img src="{%static 'main/img/fireplace.png'%}" alt="First slide">
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>Професійне будівництво камінів та печей</h1>
              <p>Професійно будуємо каміни, печі та барбекю комплекси по всій Україні. Ми спеціалізуємося на створенні
                традиційних українських печей, тандирів, камінів і 	коптилень які поєднують функціональність і красу.
                Від класичних варочних печей до сучасних мангалів — реалізуємо будь-які проєкти для дому та дачі.
                Пропонуємо індивідуальні рішення для кожного клієнта, гарантуючи високу якість і довговічність виконання.</p>
            </div>
          </div>
        </div>
    </div>

        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
        <h1 class="text-center fw-bold p-3" style="background-color: #f5d14e; border-radius: 5px;">Види робіт</h1>
    <p></p>
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4 fade-in-up">
                <img class="rounded-circle" src="{%static 'main/img/img_proj1.jpeg'%}" alt="Пічний комплекс" width="140" height="140">
                <h2>Пічний комплекс</h2>
                <p>
                    Пічний комплекс включає п’ять функціональних зон. У верхній частині розташована велика піч з арковим
                    входом для приготування їжі на дровах. Нижче — кілька відсіків, включаючи дровник, духовку та коптильню.
                    Комплекс має привабливий дизайн, дозволяючи готувати різні страви одночасно та ефективно використовуючи
                    простір.
                </p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 fade-in-up">
                <img class="rounded-circle" src="{%static 'main/img/img_proj2.png'%}" alt="Додатковий проект" width="140" height="140">
                <h2>Камін</h2>
                <p>Цегляний камін із міцною конструкцією та великою скляною дверцею на металевій рамі. Топка викладена
                  вогнетривкою цеглою, що гарантує тривалу експлуатацію при високих температурах. Скляні дверцята
                  забезпечують безпечне користування та дозволяють насолоджуватися видом відкритого вогню, створюючи
                  атмосферу затишку та комфорту.</p>
               <button><a class="nav-link h5" href="{%url 'types_work'%}">Дізнатися більше</a></button>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 fade-in-up">
                <img class="rounded-circle" src="{%static 'main/img/img_proj5.jpeg'%}" alt="Ще один проект" width="140" height="140">
                <h2>Промислова піч</h2>
                <p>Промислова піч для сушки, виготовлена з вогнетривкої цегли, яка забезпечує надійність та витривалість
                  при високих температурах. Конструкція підсилена металевим каркасом для стабільності та безпеки в
                  процесі експлуатації.Піч підходить для різних промислових процесів, де необхідна ефективна сушка продукції.</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->

   <div class="d-flex justify-content-center">
        <div class="card shadow-lg w-50">
          <div class="card-body">
            <h5 class="card-title text-center mb-4">Задати запитання</h5>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
              <button type="submit" class="btn btn-primary w-100" style= "background: #f5d14e; font-weight: bold;">Відправити</button>
            </form>
          </div>
          </div>
        </div>



      <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../../../assets/js/vendor/holder.min.js"></script>
    <script src="{%static 'main/js/script.js'%}"></script>
  </body>
</html>
