<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{%block title %}{% endblock%}</title>
</head>
<body>
  {%block content%}
  {%endblock%}
</body>
</html>

<a href="https://www.instagram.com/" target="_blank" class="instagram-icon"><img src="{%static 'main/img/instav2.png'%}"
                                                                      style="width:33px;height:33px;">
              <span class="instagram-text">Instagram</span></a>